/*
Project Name: Your Partner In Property
Client: John Kerr
Author: Trin3232
*/

/******************************************
/* COLOURS
/*******************************************/
 #ffffff, #fed111, #4db7aa, #d96f16, #DD90A2; #80867c;

/******************************************
/* DEFAULTS
/*******************************************/

* {
  margin: 0;
  padding: 0;
  font-family: 'Karma', 'Roboto', 'Opens Sans', sans-serif;
  box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */



/******************************************
/* LAYOUT
/*******************************************/

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.site-header {

}
.site-header h1 {
	color: #4db7aa;
}
.site-content {

}
.site-footer {
  color: #80867c;

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
